@use "../settings/variables";
@use "../tools/mixins";

.g-hero {
  @include mixins.justify($horizontal-align: center);
  display: flex;
  padding: variables.$spacing-l;
  background: url("../../img/banner/banner-bg.jpg") no-repeat center/cover;
  height: variables.$max-height;

  &__info {
    padding-right: 2rem;
    font-size: variables.$fs-lead;
  }

  &__image {
    max-width: 33rem;
    margin: 1em 2em;
  }

  p {
    font-weight: 300;
  }
}
